packages:
pandas, csv - parsing csv file
numpy - generating seed

modules:
word_tokenize - tokenizing data
HungarianStemmer - a stemmer for Hungarian language
LabelEncoder - to parse labels into numeral values
TfidfVectorizer - TF-IDF algorithm for determining how important a feature is in the given context vs in the whole corpus
model_selection - splitting dataset into training and testing data
naive_bayes - the classifier used